!!!
%html{:lang => "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv": "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %meta{content: "", name: "description"}
    %meta{content: "", name: "author"}
    %title Hello PhoenixTemplate!
    %link{href: "#{static_path(@conn, "/css/app.css")}", rel: "stylesheet"}
  %body.athelas.bg-dark-gray.light-gray
    %nav.pa3.pa4-ns.h2
      %a.link.dim.white.b.f6.f5-ns.dib.mr3{href: "/", title: "Home"} Home
      - if user = current_user(@conn) do
        .dim.link.dim.light-gray.f6.f5-ns.dib.mr3
          Logged in as
          %strong= user.username
        = link "Sign out", to: session_path(@conn, :delete, user.id), method: :delete, class: "link dim light-gray f6 f5-ns dib mr3 ba pa2 br2 bw1 fr"
      - else
        = link "Sign up", to: user_path(@conn, :new), class: "link dim light-gray f6 f5-ns dib mr3 ba pa2 br2 bw1 fr"
        = link "Sign In", to: session_path(@conn, :new), class: "link dim light-gray f6 f5-ns dib mr3 ba pa2 br2 bw1 fr"
    %div
      %p.tc{role: "alert"}= get_flash(@conn, :info)
      %p.tc.red{role: "alert"}= get_flash(@conn, :error)
      %main{role: "main"}= render @view_module, @view_template, assigns
    %script{src: "https://code.jquery.com/jquery-3.1.1.slim.min.js", integrity: "sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=", crossorigin: "anonymous"}
    %script{src: "#{static_path(@conn, "/js/app.js")}"}
